<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <div class="list" v-for="(todo, index) in todolist">
            <div class="element" :class="(todolist[index].done == true) ? 'bar' : ''">
                {{ index }} - {{ todolist[index].text }}
            </div>
            <button class="delete" @click="remove(index)">XXX</button>
        </div>
        <input type="text" name="" id="" v-model="newtodo"> 
        <button @click="addtodo(newtodo, todolist.length)">V</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script> 
</body>
</html>